
@{
    ViewBag.Title = "AdminLogin";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="loginVerfication">
                <div class="form-group">
                    <label>Enter User Name</label>
                    <input type="text" name="UserField" class="form-control" id="txtUserName" required />
                </div>

                <div class="form-group">
                    <label>Enter Password</label>
                    <input type="password" name="PasswordField" class="form-control" id="txtPassword" required />
                </div>

                <input type="submit" value="Sign In" class="btn btn-primary" />
            </form>
        </div>

    </div>

</div>


