
@{
    ViewBag.Title = "Contact";
}



<div class="container">

    <div class="row">
        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d817223.2198757975!2d174.32385315159345!3d-36.859759221649874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47fb5a9ce6fb%3A0x500ef6143a29917!2sAuckland%2C%20New%20Zealand!5e0!3m2!1sen!2sin!4v1599388532546!5m2!1sen!2sin" style="width:100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-md-6">
            <form method="post" action="SendMessage">
                <div class="form-group">
                    <label>Enter Name</label>
                    <input type="text" name="Namefield" id="txtName" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Enter Email</label>
                    <input type="Email" name="Emailfield" id="txtEmail" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Enter Message</label>
                    <input type="text" name="Messagefield" id="txtMessage" class="form-control" />
                </div>


                <input type="submit" name="send Message" class="btn btn-primary" />

            </form>
        </div>

    </div>
</div>


