
@{
    ViewBag.Title = "thanks";
}


<center>
    <h2> Thanks for the Message we will contact you soon! </h2>
    <a href="@Url.Action("Index","Home")" class="btn btn-default">Back to Index</a>
</center>

